.container{
    display: grid;
    justify-content: center;    
}
.loginForm {
    border: 2px solid #f1f1f1;
    border-radius: 12px;
    width: 500px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    display: grid;

}


// input[type=text],  input[type=email], input[type=number], textarea, select {
//     padding: 10px 10px;
//     margin: 11px 0;
//     box-sizing: border-box;
//     border-radius: 12px;
//     width: 300px;
//     border: none;
//     margin-right: 10%;
//     outline: none;
//     box-shadow: initial;
// }

#emailsss {
    padding: 10px 20px;
    margin: 11px 0;
    box-sizing: border-box;
    border-radius: 2px;
    width: 250px;
    border: solid 0.5px;
    margin-right: 10%;
    outline: none;
    box-shadow: initial;
}

#passwords{
    padding: 10px 15px;
    margin: 11px 0;
    box-sizing: border-box;
    border-radius: 2px;
    width: 250px;
    border: solid 0.5px;
    margin-right: 10%;
    outline: none;
    box-shadow: initial;
}

#loginbtn {
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 300px;
    margin-top: -20px;
    margin-left: 40px;
}

#signupbt{
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 300px;
    margin-left: 40px;
}

button:hover {
   opacity: 0.8;
}

.loginDiv{
    display: flex;
    justify-content: center;
}

.emailLabels{
    display: inline-flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 50px;
}

.passwordLabels{
    display: inline-flex;
    margin-right: 52px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.passDivLogin{
    margin-top: -50px;
}

#SignUpBtn{
    display: grid;
    justify-content: center;
    
}
#signupmsg{
    margin-top: -20px;
    margin-left: 47px;
}

.form-group{
    width: 500px;
    display: flex;
}
h3{
    display: flex;
    justify-content: center;
    color: brown;
}

.emailControldiv{
    width: -webkit-fill-available;
}

@media screen and (max-width: 800px) {

    .container{
        display: flex;
        justify-content: center;    
    }

    .loginForm {
        border: 2px solid #f1f1f1;
        border-radius: 12px;
        width: 455px;
        height: 400px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 124px;
    }

}