.loginForm {
    border: 2px solid #f1f1f1;
    border-radius: 12px;
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 420px;
    display: grid;

}

#emails,#passwords {
    padding: 10px 20px;
    margin: 11px 0;
    box-sizing: border-box;
    border-radius: 8px;
    width: 250;
    border: solid 0.5px;
    margin-right: 10%;
    outline: none;
    box-shadow: initial;
}


#loginbtn {
    background-color: #e42a2a;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 140px;
    margin-left: 90px;
}

button:hover {
   opacity: 0.8;
}

.loginDiv{
    display: flex;
    justify-content: center;
}

.passwordLabel{
    display: inline-flex;
    margin-right: 78px;
    margin-left: 50px;
}

.passDivLogin{
    margin-top: -50px;
}

.form-group{
    width: 500px;
    
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }