.mainBody{
  display: flex;
  justify-content: center;
}

.cartmainDiv {
    border: 0.1px solid grey;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: auto;
    margin-top: 100px;
    display: grid;
}

  .cartBody{
    display: flex;
    margin-top: 4%;
  }

  #plusMinus{
    width: 38px;
    padding-left: 12px;
    margin-left: 10px;
    margin-right: 10px;

  }
  .childBody{
    height: fit-content;
  }
 
  .button-opn{
    display: flex;
    margin-top: 20%;
  }

  #remov{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #e0e0e0;
    padding: 0%;
    padding-left: 5px;
    margin-left: 11px;
    padding-right: 5px;
    
  }

  .bookCoverd{
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #ffffff;
    height: fit-content;
  }
img{
    vertical-align: middle;
    border-style: none;
    height: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}
// #pdiv{
//     display: flex;
//     height: fit-content;
//     align-items: center;
//     margin-left: 10%;
//     // padding-left: 12%;
//     // padding-top: 3%;
// }
#mycart{
  font-size: 1.3rem;
}
#bookNameCart{
  padding-top: 5px;
  padding-bottom: 5px;
}

.cartBodyy{
  justify-content: center;
}

#placeOrder{
  margin-left: 50px;
  color: #fff;
  background-color: #3b82ce;
  border-color: #4d84bf;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 20px;

}
#place-btn-div{
  margin-top: 10px;
  width: 737px;
  display: flex;
  justify-content: flex-end;
}

.customer-detail{
    display: flex;
    justify-content: center;
}

.formCustomer {
  border: 2px solid #d1cece;
  border-radius: 5px;
  width: 800px;
  height: 500px;
  margin-top: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  display: grid;
  margin-bottom: 40px;
}
.formControl{
  display: flex;
}

#emails,#fullnames {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 0.5px;
  outline: none;
  box-shadow: initial;
  width:fit-content
}
.formControllpin{
    display: flex;
    margin-top: -50px;
}

#address{
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 0.5px;
  outline: none;
  box-shadow: initial;
  width: 442px;
  height: 100px;
  margin-top: -50px;
}
#phoness ,#pincodes,#citytown{
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 0.5px;
  outline: none;
  box-shadow: initial;
  width:fit-content;
  margin-left: 2%;
}

.formControltown{
    display: flex;
    margin-top: -30px;
}
#cont-btn {
  width: auto;
  margin-left: 80px;
}
.contdiv{
  width: fit-content;
  margin-top: -50px;
  //margin-left: 357px;
  display: flex;
  justify-content: space-between;
}
#detailsMsg{
  border: 0.1px solid grey;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: 63px;
  margin-top: 31px;
  margin-bottom: 50px;
}
#pid{
  margin-top: 10px;
  display: flex;
  margin-left: 20px;
}

.order-summary{
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

#editdiv{
  display: flex;
}
#edit{
    display: flex;
    color: blue;
    margin-left: 290px;
}
.bi-dash-circle ,.bi-plus-circle{
  cursor: pointer;
}
#radiob{
  display: flex;
  margin-left: 20px;
}
.cartmainDivOrder{
  border: 0.1px solid grey;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: auto;
  margin-bottom: 50px;
  display: grid;
  margin-top: 50px;
}
#orderSummary{
  margin-top: 15px;
    margin-bottom: 1rem;
    margin-left: 50px;
}
#checkout{
  margin-left: 200px;
  color: #fff;
  background-color: #3b82ce;
  border-color: #4d84bf;
  width: fit-content;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .cartmainDiv {
    border: 0.1px solid grey;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    width: 464px;
    height: auto;
    margin-top: 100px;
    display: grid;
    margin-left: 107px;
}
#wishSvg {
  margin-left: 45px;
  color: white;
  display: inline-flex;
  justify-content: space-evenly;
  cursor: pointer;
}
#detailsMsg {
  border: 0.1px solid grey;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  width: 447px;
  height: 63px;
  margin-top: 31px;
  margin-left: -10px;
  margin-bottom: 50px;
}
.order-summary {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  width: 480px;
}
.customer-detail {
  display: flex;
  width: 480px;
  justify-content: center;
}
#place-btn-div {
  margin-top: 10px;
  width: 460px;
  display: flex;
  justify-content: flex-end;
}
#wishSvg {
  margin-left: 6px;
  color: white;
  display: inline-flex;
  justify-content: space-evenly;
  cursor: pointer;
}
#brand {
  margin-left: 9%;
  cursor: pointer;
}
#placeOrder {

  color: #fff;
  background-color: #3b82ce;
  border-color: #4d84bf;
  width: fit-content;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#emails, #fullnames {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 0.5px;
  outline: none;
  box-shadow: initial;
  width: auto;
  margin-left: 28px;
}
#address {
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 0.5px;
  outline: none;
  box-shadow: initial;
  width: 439px;
  margin-left: 30px;
  height: 60px;
  margin-top: -50px;
}
.formCustomer {
  border: 2px solid #d1cece;
  border-radius: 5px;
  width: 465px;
  height: 500px;
  margin-top: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  display: grid;
  margin-bottom: 40px;
}
#editdiv {
  display: flex;
  justify-content: center;
}
.contdiv {
  width: fit-content;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
#cont-btn {
  width: auto;
  margin-left: 48px;
  margin-right: 50px;
}
#editdiv .form-group {
  /* width: 500px; */
  display: flex;
}

}