.order-summarys{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  #bookN{
    margin-top: 5px;
  }
  #removSvg{
    margin-left: 270px;
    height: fit-content;
    margin-top: 40px;
    cursor: pointer;
  }
  .wishBody{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .childBodyss{
    height: fit-content;
    width: 200px;
  }